:root {
  --main-green: #8CCF9A;
  --dark-theme-one: rgb(39, 42, 54);
  --dark-theme-two: rgb(34, 36, 47);
  --main-font: 'Roboto', sans-serif;
  --main-font-color: #fff;
  --thin: 300;
  --normal: 400;
  --semi-bold: 500;
  --bold: 700;
}

*, *::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  color: var(--main-font-color);
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

section {
  width: 100%;
  height: 100vh;
}

.container {
  width: 153rem;
  height: 100%;
  margin: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  border: none;
  outline: none;
  border-radius: 1rem;
  font-weight: var(--bold);
  cursor: pointer;
}

.green-txt {
  color: var(--main-green);
}

.section-title {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
  font-weight: var(--bold);
  width: 100%;
  text-align: center;
  height: 10rem;
  line-height: 10rem;
  font-size: 3.2rem;
  -webkit-box-shadow: 0px 11px 12px #20232C;
          box-shadow: 0px 11px 12px #20232C;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .hamburger-btn {
  display: none;
}

header .logo-img {
  height: auto;
  width: 6rem;
}

nav .nav-list .nav-item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.6rem;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

nav .nav-list .nav-item:hover {
  color: var(--main-green);
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/hero-bg-img.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero > .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.search-section {
  max-width: 75rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-section .text-area > .title {
  font-size: 3.4rem;
  font-weight: var(--bold);
}

.search-section .text-area > .subtitle {
  margin: .4rem 0;
  font-size: 1.7rem;
  font-weight: var(--thin);
  color: #D1D1D1;
}

.search-section .search-engine {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6rem;
  width: 50rem;
  border: 3px solid var(--main-font-color);
  border-radius: 3rem;
  overflow: hidden;
}

.search-section .search-engine .search-icon {
  font-size: 1.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1.5rem;
}

.search-section .search-engine .search-input {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-section .search-engine .search-input > input {
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  color: var(--main-font-color);
  outline: none;
  border: none;
  background: none;
}

.search-section .search-engine .search-input > input::-webkit-input-placeholder {
  color: #bbbbbb;
}

.search-section .search-engine .search-input > input:-ms-input-placeholder {
  color: #bbbbbb;
}

.search-section .search-engine .search-input > input::-ms-input-placeholder {
  color: #bbbbbb;
}

.search-section .search-engine .search-input > input::placeholder {
  color: #bbbbbb;
}

.search-section .help-area {
  text-align: center;
  font-size: 1.2rem;
}

.search-section .help-area span {
  font-weight: var(--bold);
}

.search-section .cta-btn {
  width: 18rem;
  height: 4.5rem;
  margin: 4.5rem auto 0 auto;
  background-color: var(--main-green);
  color: var(--main-font-color);
  font-size: 1.6rem;
  opacity: 95%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.search-section .cta-btn:hover {
  background-color: #10bb35;
}

.result-section {
  border: 3px solid var(--main-green);
  padding: 2rem 3rem;
  border-radius: 1.5rem;
}

.result-section > i {
  font-size: 6rem;
  margin-right: 2rem;
}

.result-section .text-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.result-section .text-container .product-title {
  font-size: 2.4rem;
  color: var(--main-green);
  text-transform: uppercase;
  font-weight: var(--bold);
}

.result-section .text-container .product-subtitle {
  font-size: 1.8rem;
  color: var(--main-font-color);
  font-weight: var(--semi-bold);
}

/* *{
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 10px;
}

.inp-cont{
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 50px;
    border-radius: 3px;
    position: relative;
}

input{
    width: 100%;
    height: 100%;
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    background: rgb(245, 245, 245);
    height: max-content;
}

.d-item{
    width: 100%;
    padding: .5em 0em;
} */
.quiz {
  background-color: var(--dark-theme-one);
}

section#quiz {
  width: 100%;
  background: #272A36;
  color: #fff;
  min-height: 100vh;
  font-size: 10px;
}

section#quiz h2 {
  text-align: center;
  font-size: 6.5em;
  margin: 0px;
  padding-top: 5rem;
}

section#quiz p {
  text-align: center;
  font-size: 1.8rem;
  padding-top: 1rem;
  color: gainsboro;
}

.quiz-cont {
  width: 470px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5em;
  /* background: green; */
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
}

.quiz-cont .quiz-results h5, .quiz-cont .quiz-results .score-cont {
  text-align: center;
}

.quiz-cont .quiz-results h5 {
  font-size: 7.2em;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.quiz-cont .quiz-results .score-cont {
  font-size: 3.4em;
  padding-top: 1em;
}

.quiz-cont .quiz-results button {
  padding: .7em 1.7em;
  font-size: 1.8em;
  background-color: var(--main-green);
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 25px rgba(18, 199, 56, 0.4);
          box-shadow: 0px 4px 25px rgba(18, 199, 56, 0.4);
  font-family: "Nunito";
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
}

.quiz-cont .quiz-results button:hover {
  background: #10bb35;
}

.quiz-cont .quiz-img {
  width: 100%;
  height: 300px;
  position: relative;
}

.quiz-cont .quiz-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  inset: 0;
  border-radius: 5px;
}

.quiz-cont .quiz-nav {
  /* margin-top: 1em; */
}

.quiz-cont .quiz-nav .quiz-nav-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5em;
  padding: 1em 0em .4em 0em;
}

.quiz-cont .quiz-nav .quiz-nav-upper .points-cont {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.quiz-cont .quiz-nav .quiz-nav-upper .questions-length-cont {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  text-align: center;
}

.quiz-cont .quiz-nav .quiz-nav-upper .time-left-cont {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.quiz-cont .quiz-nav .quiz-nav-bottom .quiz-bar-cont {
  width: 100%;
  height: 13px;
  background: #2E3241;
  border-radius: 220px;
  position: relative;
  overflow: hidden;
}

.quiz-cont .quiz-nav .quiz-nav-bottom .quiz-bar-cont .quiz-bar {
  width: 0%;
  height: 100%;
  background: #19D32B;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.quiz-cont .question {
  /* width: 100%; */
  background: #2D313F;
  font-size: 1.7em;
  padding: 1.2em .8em;
  border-radius: 5px;
  margin-top: 1em;
}

.quiz-cont .answers {
  margin-top: 1em;
}

.quiz-cont .answers .answer {
  background: #353949;
  margin: .9em 0em;
  padding: .95em 0em;
  padding-left: .8em;
  font-size: 1.6em;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.quiz-cont .answers .answer:hover {
  background: #373c4f;
}

.quiz-cont .answer-detail {
  text-align: center;
  padding-top: 1em;
  font-size: 1.4em;
}

.start-quiz-btn {
  padding: .32em 1.2em;
  font-size: 2.8em;
  background: var(--main-green);
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 25px rgba(18, 199, 56, 0.4);
          box-shadow: 0px 4px 25px rgba(18, 199, 56, 0.4);
  font-family: "Nunito";
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
}

.start-quiz-btn:hover {
  background: #10bb35;
}

.off {
  display: none;
}

.correct {
  background-color: #19D32B !important;
}

.wrong {
  background-color: #E71414 !important;
}

.r3-rule {
  background-color: var(--dark-theme-two);
  position: relative;
}

.r3-rule > .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.r3-rule .explanation-area,
.r3-rule .dummy-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.r3-rule .dummy-text {
  width: 55%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.r3-rule .dummy-text > .line {
  color: var(--main-green);
  font-weight: var(--bold);
  font-size: 15rem;
}

.r3-rule .explanation-area {
  width: 45%;
}

.r3-rule .explanation-area > .r3-title {
  font-size: 5.4rem;
  font-weight: var(--bold);
}

.r3-rule .explanation-area > .r3-description {
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-weight: var(--thin);
  text-align: left;
  width: 30rem;
  margin: 1rem 0;
}

.r3-rule .explanation-area > .r3-list .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 3rem;
  margin: 1rem 0;
  width: 80%;
}

.r3-rule .explanation-area > .r3-list .list-item .list-icon {
  font-size: 2.4rem;
  margin-right: .8rem;
  color: var(--main-green);
}

.r3-rule .explanation-area > .r3-list .list-item .list-text {
  font-size: 1.8rem;
}

footer {
  height: 15rem;
  background-color: var(--dark-theme-one);
}

footer > .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */