:root {
    --main-green: #8CCF9A;
    --dark-theme-one: rgb(39, 42, 54);
    --dark-theme-two: rgb(34, 36, 47);
    --main-font: 'Roboto', sans-serif;
    --main-font-color: #fff;
    --thin: 300;
    --normal: 400;
    --semi-bold: 500;
    --bold: 700;
}

*, *::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    color: var(--main-font-color);
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

section {
    width: 100%;
    height: 100vh;
}

.container {
    width: 153rem;
    height: 100%;
    margin: auto;
    // border: 1px solid red;
}

.flex {
    display: flex;
}

.btn {
    border: none;
    outline: none;
    border-radius: 1rem;
    font-weight: var(--bold);
    cursor: pointer;
}

.green-txt {
    color: var(--main-green);
}

.section-title {
    position: absolute;
    top: 0;
    left: 0;
    text-transform: capitalize;
    font-weight: var(--bold);
    width: 100%;
    text-align: center;
    height: 10rem;
    line-height: 10rem;
    font-size: 3.2rem;
    box-shadow: 0px 11px 12px #20232C;
}