:root {
    --main-green: #23AE2E;
    --dark-theme-one: rgb(39, 42, 54);
    --dark-theme-two: rgb(34, 36, 47);
    --main-font: 'Roboto', sans-serif;
    --main-font-color: #fff;
    --thin: 300;
    --normal: 400;
    --semi-bold: 500;
    --bold: 700;
}

*, *::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    color: var(--main-font-color);
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.container {
    width: 153rem;
    height: 100%;
    // border: 1px solid red;
}

.flex {
    display: flex;
}

.btn {
    border: none;
    outline: none;
    border-radius: 1rem;
    font-weight: var(--bold);
    cursor: pointer;
}

.green-txt {
    color: var(--main-green);
}
