.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/hero-bg-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    >.container {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}

.search-section {
    max-width: 75rem;
    flex-direction: column;

    .text-area {

        >.title {
            font-size: 3.4rem;
            font-weight: var(--bold);
        }

        >.subtitle {
            margin: .4rem 0;
            font-size: 1.7rem;
            font-weight: var(--thin);
            color: #D1D1D1;
        }
    }

    .search-engine {
        margin: 1rem 0;
        display: flex;
        height: 6rem;
        width: 50rem;
        border: 3px solid var(--main-font-color);
        border-radius: 3rem;
        overflow: hidden;

        .search-icon {
            font-size: 1.8rem;
            align-items: center;
            justify-content: center;
            padding: 0 1.5rem;
        }

        .search-input {
            width: 100%;
            align-items: center;
            justify-content: center;
            
            >input {
                width: 100%;
                height: 100%;
                font-size: 1.8rem;
                color: var(--main-font-color);
                outline: none;
                border: none;
                background: none;

                &::placeholder {
                    color: rgb(187, 187, 187);
                }
            }
        }
    }

    .help-area {
        text-align: center;
        font-size: 1.2rem;

        span {
            font-weight: var(--bold);
        }
    }

    .cta-btn {
        width: 18rem;
        height: 4.5rem;
        margin: 4.5rem auto 0 auto;
        background-color: var(--main-green);
        color: var(--main-font-color);
        font-size: 1.6rem;
        opacity: 95%;
        transition: all 300ms ease;
        
        &:hover {
            opacity: 100%;
        }
    }
}

.result-section {
    border: 3px solid var(--main-green);
    padding: 2rem 3rem;
    border-radius: 1.5rem;

    >i {
        font-size: 6rem;
        margin-right: 2rem;
    }

    .text-container {
        flex-direction: column;
        align-items: left;
        justify-content: space-around;

        .product-title {
            font-size: 2.4rem;
            color: var(--main-green);
            text-transform: uppercase;
            font-weight: var(--bold);
        }

        .product-subtitle {
            font-size: 1.8rem;
            color: var(--main-font-color);
            font-weight: var(--semi-bold);
        }
    }

}